# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Mac OS X files
.DS_Store

# Open CV files
output.jpg
training/dart.vec
training/dartcascade
darts_o/*.jpg

# LaTeX
report/*.aux
report/*.log
# report/*.pdf
*.psd
