# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Mac OS X files
.DS_Store

# Open CV files
output.jpg
training/dart.vec
training/dartcascade
darts_o/*.jpg
training/smalldart.bmp
training/bez.png
darts_o/02
training/beztarczy.png
darts_o/Archiwum 2.zip
darts_o/Archiwum.zip


# LaTeX
report/*.aux
report/*.log
# report/*.pdf
*.psd
